@font-face {font-family: 'GothamBook'; src: url('../fonts/GothamBook.eot'); src: local('☺'), url('../fonts/GothamBook.woff') format('woff'), url('../fonts/GothamBook.ttf') format('truetype'), url('../fonts/GothamBook.svg') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'GothamBold'; src: url('fonts/GothamBold.eot'); src: local('☺'), url('../fonts/GothamBold.woff') format('woff'), url('../fonts/GothamBold.ttf') format('truetype'), url('../fonts/GothamBold.svg') format('svg'); font-weight: normal; font-style: normal; }
body{font-family: "GothamBook", sans-serif; font-weight: bold; color: #000;}
.border-bottom2 {border-bottom: 4px solid #f7cb46; margin-top: 2px;}
.border-top2{border-top: solid 8px #f7cb46;}
.logo{width:220px; padding: 5px 0 8px;}
a {text-decoration: none;}
a:hover{transition: 0.5s all}
section{padding: 50px 0;}
h4,.h4{font-size: 18px;}
.partners{background: #fff;}
.register{background: #f7f7f7;}
.judges{background: #f7f7f7;}
.videos{background: #f7f7f7;}
.head_wrap{background: #fff;}
.head_wrap.fixed-header {position: fixed; top: 0; left: 0; width: 100%; z-index:9999; box-shadow:0px 0px 5px rgba(0,0,0,0.3);-webkit-transition:0.5s all;-moz-transition:0.5s all;-o-transition:0.5s all;-ms-transition:0.5s all;transition:0.5s all;}
.navbar-light .navbar-nav .nav-link {color: #000;font-size: 16px;font-weight: bold;padding: 0 12px;}
.navbar-toggler { padding:2px 5px; font-size: 1rem; outline: none; margin-right: 15px;}
.h-box{text-transform:uppercase; transform:skew(-15deg); background: linear-gradient(to right, rgb(247, 203, 70), rgb(210, 22, 99), rgb(129, 60, 250)); display: inline-block; padding: 5px 15px; color: #fff;/*-webkit-transform: skew(30deg); -moz-transform: skew(30deg); -o-transform: skew(30deg); transform: skew(30deg);*/}
.h-box p{font-size:20px; transform:skew(15deg); padding: 0; margin: 0; text-align: center;}
.heading{font-family: "GothamBold", sans-serif; text-transform:uppercase; display: inline-block;}
.heading h4{font-size: 20px;  display: inline-block;  height: 28px;  box-shadow: 0 14px 0 -12px #ccc;}
.heading2{font-family: "GothamBold", sans-serif; text-transform:uppercase; display: inline-block;}
.heading2 h4{font-size: 18px;  display: inline-block;}
.navbar-light .navbar-nav .nav-link.login {
  color: #f00;
}
.about{background:#f7cb46; padding-top: 0; padding-bottom: 35px;}
.about-heading{color:#fff; background: linear-gradient(to right, rgb(247, 203, 70), rgb(210, 22, 99), rgb(129, 60, 250)); text-align: center; font-size: 28px; padding: 8px 0; margin-bottom: 25px;}
.mtop{margin-top: 75px;}
.fl{float: left;}
.fr{float: right;}
.form-box {max-width: 500px; margin: auto; background: #ffffff; border: 2px solid #f7cb46; }
.register-form{padding:10px 35px 35px;}
input[type="text"], input[type="email"], input[type="file"], input[type="date"], input[type="number"], select, textarea {width: 100%; min-height: 30px; padding: 9px 10px; border: 0; border: 1px solid #ddd; margin: 15px 0 0; outline: none; border-radius: 5px;; }
.row.align-items-stretch .card:only-of-type { height: 100%; }
.close {float: right; font-size: 21px; font-weight: bold; line-height: 1; color: #000000; opacity: 0.2; }
.judge h3 {margin-top: 0px; border-bottom: 1px solid #ea0c0c; padding-bottom: 7px; text-transform: uppercase; }
#myBtn {  display: none;  position: fixed;  bottom: 20px;  right: 38px;  z-index: 99;  font-size: 14px;  border: none;  outline: none;  background-color: #b61818;  color: white;  cursor: pointer;  padding: 10px;  border-radius: 4px;}
.owl-buttons {
  display: none;
}
.owl-carousel:hover .owl-buttons {
  display: block;
}

.owl-item {
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  color: #869791;
  font-size: 40px;
  line-height: 300px;
  margin: 0;
  padding: 0 60px;
  position: absolute;
  top: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0;
  padding-left: 20px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
  padding-right: 20px;
}

/*********************** Demo - 9 *******************/
.box9 {box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
.box9 .box-content, .box9 .icon li, .box9 img {transition: all 0.35s ease 0s; }
.box9 .icon, .box9 .title {width: 100%; font-size: 22px; }
.box9 {background: #000; text-align: center; position: relative; margin-bottom: 20px;}
.box9 img {width: 100%; height: auto; }
.box9:hover img {opacity: 0.5; }
.box9 .box-content {padding: 30px 10px 30px 0; background: rgba(0, 0, 0, 0.65); position: absolute; top: 0; left: 0; bottom: 0; right: 0; opacity: 0; text-align: center; }
.box9:hover .box-content {top: 10px; left: 10px; bottom: 10px; right: 10px; opacity: 1; }
.box9 .title {font-weight: 700; color: #fff; line-height: 17px; margin: 5px 0; position: absolute; bottom: 55%; }
.box10 .icon li a, .box9 .icon li a {line-height: 50px; border-radius: 50%; }
.box9 .icon {list-style: none; padding: 0; margin: 0; position: absolute; top: 40%; }
.box9 .icon li {display: inline-block; opacity: 0; transform: translateY(40px); }
.box9:hover .icon li {opacity: 1; transform: translateY(0); }
.box9:hover .icon li:first-child {transition-delay: 0.1s; }
.box9:hover .icon li:nth-child(2) {transition-delay: 0.2s; }
.box9 .icon li a {display: block; width: 50px; height: 50px; background: #f39c12; font-size: 20px; color: #000; margin-right: 5px; transition: all 0.35s ease 0s; }
.box9 .icon a:hover {background: #fff; } @media only screen and (max-width: 990px) {.box9 {margin-bottom: 20px; } }

.box16{ overflow: hidden;}
/*********************** Demo - 16 *******************/ .box16 {text-align: center; color: #fff; position: relative; }
.box16 .box-content, .box16:after {width: 100%; position: absolute; left: 0; }
.box16:after {  content: "";  height: 100%;  background: linear-gradient(    to bottom,    rgba(0, 0, 0, 0) 0,    rgba(0, 0, 0, 0.08) 69%,    rgba(0, 0, 0, 0.76) 100%  );  top: 0;  transition: all 0.5s ease 0s;}
.box16 .post, .box16 .title {transform: translateY(145px); transition: all 0.4s cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s; }
.box16:hover:after {background: linear-gradient(    to bottom,    rgba(0, 0, 0, 0.01) 0,    rgba(0, 0, 0, 0.09) 11%,    rgba(0, 0, 0, 0.12) 13%,    rgba(0, 0, 0, 0.19) 20%,    rgba(0, 0, 0, 0.29) 28%,    rgba(0, 0, 0, 0.29) 29%,    rgba(0, 0, 0, 0.42) 38%,    rgba(0, 0, 0, 0.46) 43%,    rgba(0, 0, 0, 0.53) 47%,    rgba(0, 0, 0, 0.75) 69%,    rgba(0, 0, 0, 0.87) 84%,    rgba(0, 0, 0, 0.98) 99%,    rgba(0, 0, 0, 0.94) 100%  );}
.box16 img {width: 100%; height: auto; }
.box16 .box-content {padding: 20px; margin-bottom: 20px; bottom: 0; z-index: 1; }
.box16 .title {font-size: 22px; font-weight: 700; text-transform: uppercase; margin: 0 0 10px; }
.box16 .post {display: block; padding: 8px 0; font-size: 15px; }
.box16 .social li a, .box17 .icon li a {border-radius: 50%; font-size: 20px; color: #fff; }
.box16:hover .post, .box16:hover .title {transform: translateY(0); }
.box16 .social {list-style: none; padding: 0 0 5px; margin: 40px 0 25px; opacity: 0; position: relative; transform: perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0); transition: all 0.6s cubic-bezier(0, 0, 0.58, 1) 0s; }
.box16:hover .social {opacity: 1; transform: perspective(500px) rotateX(0) rotateY(0) rotateZ(0); }
.box16 .social:before {content: ""; width: 50px; height: 2px; background: #fff; margin: 0 auto; position: absolute; top: -23px; left: 0; right: 0; }
.box16 .social li {display: inline-block; }
.box16 .social li a {display: block; width: 40px; height: 40px; line-height: 40px; background: #6d3795; margin-right: 10px; transition: all 0.3s ease 0s; }
.box17 .icon li, .box17 .icon li a {display: inline-block; }
.box16 .social li a:hover {background: #bea041; }
.box16 .social li:last-child a {margin-right: 0; }
.gallery-img-box {  width: 100%;  height: 304px;  background-size: cover;  background-position: center top;}
.sponsor {  border: 2px solid #e30711;  margin: 0 5px;  padding: 10px;  text-align: center;}
.sponsor video {  width: 100%;  height: 350px;}
.site-footer {background-color:#26272b; padding:25px 0 20px; font-size:15px; line-height:24px; color:#737373; }
.site-footer hr {border-top-color:#bbb; opacity:0.5 }
.site-footer hr.small {margin:20px 0 }
.site-footer h6 {color:#fff; font-size:16px; text-transform:uppercase; margin-top:5px; letter-spacing:2px }
.site-footer a {color:#737373; }
.site-footer a:hover {color:#3366cc; text-decoration:none; }
.footer-links {padding-left:0; list-style:none }
.footer-links li {display:block }
.footer-links a {color:#737373 }
.footer-links a:active,.footer-links a:focus,.footer-links a:hover {color:#3366cc; text-decoration:none; }
.footer-links.inline li {display:inline-block }
.site-footer .social-icons {text-align:right }
.site-footer .social-icons a {width:40px; height:40px; line-height:40px; margin-left:6px; margin-right:0; border-radius:100%; background-color:#33353d }
.copyright-text {margin:0 } @media (max-width:991px) {.site-footer [class^=col-] {margin-bottom:30px } } @media (max-width:767px) {.site-footer {padding-bottom:0 }
.site-footer .copyright-text,.site-footer .social-icons {text-align:center } }
.social-icons {padding-left:0; margin-bottom:0; list-style:none }
.social-icons li {display:inline-block; margin-bottom:4px }
.social-icons li.title {margin-right:15px; text-transform:uppercase; color:#96a2b2; font-weight:700; font-size:13px }
.social-icons a{background-color:#eceeef; color:#818a91; font-size:16px; display:inline-block; line-height:44px; width:44px; height:44px; text-align:center; margin-right:8px; border-radius:100%; -webkit-transition:all .2s linear; -o-transition:all .2s linear; transition:all .2s linear }
.social-icons a:active,.social-icons a:focus,.social-icons a:hover {color:#fff; background-color:#29aafe }
.social-icons.size-sm a {line-height:34px; height:34px; width:34px; font-size:14px }
.social-icons a.facebook:hover {background-color:#3b5998 }
.social-icons a.twitter:hover {background-color:#00aced }
.social-icons a.linkedin:hover {background-color:#007bb6 }
.social-icons a.dribbble:hover {background-color:#ea4c89 } @media (max-width:767px) {.social-icons li.title {display:block; margin-right:0; font-weight:600 } }
@media only screen and (max-width: 990px) {.box16 {margin-bottom: 30px; }
}
@media (max-width:1540px){}
@media (max-width:1399px){}
@media (max-width:1199px){.heading h4{font-size: 16px;height: 22px; box-shadow: 0 12px 0 -10px #ccc;}
}
@media (max-width:991px){}
@media (max-width:767px){body{font-size: 13px;}
.logo{width:140px;}
.partners img{max-width: 220px;}
.h-box p {font-size: 12px;}
.mtop {margin-top: 30px;}
.form-box {max-width: 100%;}
.register-form{padding:2px 15px 15px;}
.about-heading {font-size: 22px;}
.navbar-nav{background: #f7cb46; padding-top: 10px;}
}
@media (max-width:575px){}